.mainText{
    display: inline-block; 
    padding: .5cm ;
    background-color: white;
    resize: both;
    font-size: .5in; 
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-width: .5cm;
    border-radius: 1cm;
    border-color: blue;
    border-style: double;
    
  }
  .printTextarea{
  background-color: bisque;
  position: relative;
  }
  .printdiv{
  
    height:29.7cm ;
    width:20.5cm;
    position: absolute;
    right:.5cm;
    background: white;
   

  }
  .optionsdiv{
    left:0px;
    background-color: rgba(0, 255, 255, 0);
  }
  .textButton{
      background-color: rgba(0, 255, 255, 0);
      margin-left: 0%;
      height:31.7cm ;
      width: 100%;
      left:0%;  
  }