.mainText{
    display: inline-block; 
    padding: .5cm ;
    background-color: white;
    resize: both;
    font-size: .5in; 
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-width: .3cm;
    border-radius: 1cm;
    border-color: blue;
    border-style: solid;
	margin: 0.4cm;
    left:0%;
    max-width: 20cm;
    max-height:28.7cm ;
    
  }
  
  .printdiv{
  
  height:29.7cm ;
  width:21cm;
  right:4%;
    
    background: white;
    overflow: hidden;
    padding-top: .5cm;
    padding-left: .5cm;
    padding-bottom: .5cm;
    padding-right: .5cm;
    position:absolute;
    margin-top: 2%;

  }
  .optionsdiv{
    left:2%;
    position: fixed;
    
  }
  .textButton{
      background-color: rgba(0, 255, 255, 0);
      margin-left: 0%;
      height:31.7cm ;
      width: 100%;
      left:0%; 
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around; 
      margin-top: 2%;
  }
  ::placeholder{
    color: rgba(128, 128, 128, 0.385);
    font-family: sans-serif;
  }